input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
input[type=number]:focus {
    outline: none;
    box-shadow: none !important;
}
button {
    box-shadow: none;
}
button:active {
    border: none;
}